.fpage1{
    background-color: rgb(99, 99, 221);
    color: white;
    text-align: center;
}


.sing-up1{
    background-color: rgb(44, 245, 18);
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    border: 10px red solid;
    margin: 50px;
}

h50{

}